.input-description {
  padding: .25rem .5rem;
  margin: .25rem .5rem;
  border: none;
  min-width: auto;
  width: 84%;
  background-color: transparent;
  color: var(--color-white);
  border-bottom: 1px solid transparent;
}

.input-description::placeholder {
  color: #f7fff799;
}

.input-description:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--color-white) !important;
}