.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  border-radius: .5rem;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  background-color: var(--color-dark-primary);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}