.form {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control {
  margin-bottom: 15px;
}

/* .control label {
  display: flex;
  flex-direction: column;
} */