/* .control {
  display: flex;
} */

.label {
  display: flex;
  flex-direction: column;
}

.label .text {
  font-size: .9rem;
  margin-left: .5rem;
  margin-bottom: 5px;
  font-weight: 500;
}

.input {
  padding: .5rem 1rem;
  background-color: var(--color-white);
  border: 1.5px solid var(--color-secondary);
  border-radius: 7.5px;
  font-size: 1rem;
}

.input:active,
.input:focus-visible {
  border: 1.5px solid var(--color-primary);
  outline: none;
}

.input.invalid {
  border: var(--color-danger) 1.5px solid;
  background-color: var(--color-red-secondary);
}

.error-notification {
  list-style: none;
}

.invalid-text {
  color: var(--color-danger);
  font-size: .9rem;
  margin-left: .5rem;
}

.fade-enter {
  opacity: 0;
  height: 0;
}

.fade-enter-active {
  opacity: 1;
  height: 100%;
  transition: opacity 200ms ease-out, height 200ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

